{% extends "base.html" %}
{% block context %}
{% load static %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">


<div class="container">

    <table class="table">
        <thead>
          <tr>

            <th scope="col">Numero</th>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>

          </tr>
        </thead>
        <tbody class="table-group-divider">

          {% for user in users %}

          <tr>
            
            <th scope="row">{{ user.id}}</th>
            <td>{{ user.first_name }}</td>
            <td><button class="btn btn-success" type="submit">Adicionar</button>
            <button class="btn btn-warning" type="submit">Visualizar</button></td>
            

          <tr>

          {% endfor %}

          
            
          </tr>
        </tbody>
      </table>

       
</div>


{% endblock context %}